.card {
    margin: 10px 0;
    background-color: var(--color-dark2);
}

.cardHeader {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #101010;
}

.cardTitle {
    font-size: 24px;
    font-weight: 700;
}

.cardText {
    font-size: 13px;
    font-weight: 400;
    color: #dedede;
}

.cardLinkBtn {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    color: #1976D2;
    display: flex;
    width: 120px;
    height: 35px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 6px;
}

.cardLinkBtn:hover {
    background-color: #202020;
}

.cardBody {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.friendCard {
    display: block;
    width: 100%;
}

.friendImg {
    width: 100%;
    height: min-content;
    border-radius: 6px;
}